:root{
    --Primary:hsl(199,100%,33%);
    --Secondary:hsl(187,85%,43%);
    --gradient:linear-gradient(to right,hsl(187,85%,43%),hsl(199,100%,33%));
    --white:hsl(0,0%,100%);
    --text:hsl(240,4%,36%);
    --input:rgb(239,239,239);
    --body:rgb(240,240,240);
    --cardBG:rgb(225,225,225);
  
  }

  .main{
    width:100%;
    .secTitle{
        position: relative;
        width:max-content;
        color:var(--text);
        margin:1rem 0;
        z-index: 2;
        &:after{
            position: absolute;
            content: '';
            background: var(--Secondary);
            height: 5px;
            width: 12px;
            right:0;
            bottom:5px;
            z-index: -1;
        }
    }

    .secContent{
        justify-content: center;
        gap:1.5rem;

        .singledest{
            height:100%;
            display:grid;
            row-gap: 10px;
            padding: .5rem;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140,140,141,0.5);
            overflow: hidden;

            &:hover{
                background: aliceblue;
                box-shadow: 1 4px 4px rgba(85,85,114,0.54);
                transition: .3s ease;
            }
            .imageDiv{
                height:100%;
                width:100%;
                overflow: hidden;
                .img{
                    height: 100%;
                    width:100%;
                    object-fit: cover;
                    transition: 2s ease;
                }

                &:hover{
                    img{
                        transform: scale(1.1);
                        transition: .7s;
                    }
                }
            }

            .cardInfo{
                    padding: 1rem;
            }
                    .destTitle{
                        padding: 1rem;
                        color: black;
                        font-size: 1.25rem;
                    }
                
                .continent{
                        gap:.5rem;

                    .icon{
                        color: var(--text);
                        font-size: 18px;

                    }    
                    .name{

                        color: var(--text);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                .fees{
                    width:100%;
                    justify-content: space-between;
                    padding:1rem;
                    margin:1rem 0;
                    border-top: 1.5px solid grey;
                    border-bottom: 1.5px solid grey;

                    .grade{
                        color: var(--text);
                        max-width: 100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small{

                            text-align: center;
                            background: var(--gradient);
                            border-radius: 1rem;
                            color: white;
                            padding:1px 7px;
                            font-size: 10px;
                        }

                    }
                    .price{
                        font-size: 2rem;
                        color: black;
                        font-weight: 500;

                    }
                }

                    .btn{
                        margin-top: 1rem;
                        color: white;
                        font-weight: 600;
                        justify-content: space-between;
                        gap:.5rem;

                        .icon{
                            align-items: center;
                            font-size: 18px;
                        }
                    }

                


            }
        }

        }

@media screen and (min-width:500px) {
    .title{
        font-size: 1.5rem;

        &::after{
            width:155px !important;
        }
    }

    .secContent{
        grid-template-columns: repeat(2,1fr);

        .singledest{
            height: auto;
        }
    }
}

@media screen and (min-width:840px) {
    .secContent{
        grid-template-columns: repeat(3,1fr);
    
        .singledest{
            height:auto;
        }
    }
}
    